* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.App {
  height: 100%;
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
}

.main-nav {
  background-color: #000;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-left: 50px;
  padding-right: 50px;
}

.main-nav__logo {
  width: 155px;
}
.main-nav__logo img {
  max-width: 100%;
}
